@inject IOptions<ITraqClientConfiguration> TraqClientConfiguration

<header class="sticky top-0 h-16 flex flex-row flex-nowrap items-center px-6 bg-default-secondary">

    <div class="flex flex-row gap-x-6 grow">

        <HeaderNavLink href="/">
            ホーム
        </HeaderNavLink>

        <HeaderNavLink href="/settings/ical">
            カレンダー配信
        </HeaderNavLink>

        <HeaderNavLink href="/vacancies">
            <span class="flex flex-row gap-x-1 items-center">
                空き教室
                <BetaBadge />
            </span>
        </HeaderNavLink>

    </div>

    @if (Username is not null && traqApiBaseAddress is not null)
    {
        <span class="w-fit h-fit rounded-full overflow-hidden">
            <img src="@($"{traqApiBaseAddress}/public/icon/{Username}")"
                 alt="@($"Icon of {Username}")"
                 title="@Username"
                 width="36"
                 height="36" />
        </span>
    }

</header>

@code {
    string? traqApiBaseAddress = null;

    [CascadingParameter(Name = CascadingUsername.CascadingParameterName)]
    public string? Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        traqApiBaseAddress = TraqClientConfiguration.Value.TraqApiBaseAddress?.TrimEnd('/');
    }
}
