@page "/vacancies"
@using RoomsCalendar.Share.Constants
@using RoomsCalendar.Share.Usecase
@using ZLinq
@using AvailableTime = (DateTimeOffset AvailableSince, DateTimeOffset AvailableUntil)
@inject TimeZoneInfo TimeZone

<div class="flex flex-col gap-y-4">

    <h2>
        空き教室 (β版)
    </h2>

    @if (VacantRoomsProvider is not null && VacantRoomsProvider.LastUpdatedAt != default)
    {
        <div class="flex flex-row gap-2 flex-wrap tx-body2">
            <span>
                最終更新
            </span>
            <span>
                @($"{VacantRoomsProvider.LastUpdatedAt.ToOffset(TimeSpan.FromHours(9)).DateTime:yyyy/MM/dd HH:mm}") (JST)
            </span>
        </div>
    }
    else
    {
        <AlertCard Type="AlertCard.AlertType.Information"
                   Title="部屋情報がありません">
            <p>
                サーバーの起動直後は部屋情報が表示されません。
                時間を空けてもう一度アクセスしてください。
            </p>
        </AlertCard>
    }

    <AlertCard Type="AlertCard.AlertType.Warning">
        最新の情報と異なる場合があります。
        部屋の利用前には必ず大学ウェブサイトをご確認ください。
    </AlertCard>

    <div class="grid md:grid-cols-2 gap-3 grow">
        @if (rooms.Length == 0)
        {
            <p>
                現在利用可能な部屋はありません。
            </p>
        }
        else
        {
            @foreach (var r in rooms)
            {
                <RoomCard PlaceName="@r.PlaceName"
                          AvailableTimes="@r.AvailableTimes"
                          IsKnoqRegistered="true" />
            }
        }
    </div>

</div>

@code {
    [Inject(Key = RoomsProviderNames.TitechVacant)]
    IRoomsProvider? VacantRoomsProvider { get; set; }

    (string PlaceName, AvailableTime[] AvailableTimes)[] rooms = [];

    protected override async Task OnInitializedAsync()
    {
        if (VacantRoomsProvider is not null)
        {
            var timeZoneToday = TimeZoneInfo.ConvertTimeToUtc(
                TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZone).Date,
                TimeZone
            );
            var vacantRooms = await VacantRoomsProvider.GetRoomsAsync(timeZoneToday, timeZoneToday.AddTicks(TimeSpan.TicksPerDay - 1), CancellationToken.None);
            rooms = vacantRooms.AsValueEnumerable()
                .Where(r => TitechRooms.ReservableRoomNames.Contains(r.PlaceName))
                .GroupBy(r => r.PlaceName)
                .Select(g => (
                    PlaceName: g.Key,
                    AvailableTimes: g.AsValueEnumerable()
                        .Select(r => (r.AvailableSince, r.AvailableUntil))
                        .OrderBy(t => t.AvailableSince)
                        .ToArray()
                ))
                .OrderBy(r => new TitechRoomInfo(r.PlaceName).Building, TitechRooms.DefaultBuildingComparerForReservation)
                .ToArray();
        }
    }
}
